<section id="about" class="about">
    <div class="container">

      <div class="section-title">
        <h2>About</h2>
        <p> 
            Hello there, my name is Gibson Gichuru Githinji am currently 
            Studying Computer Science at Dedan Kimathi University Of Technology.
            Am pationate about Machine learning, web development and mobile app development and the general Tech World
        </p>
      </div>

      <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
          <img src="{{ url_for('static', filename = 'images/profile-img.jpg')}}" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
          <h3>Back End Developer &amp; Web Developer.</h3>
          <p class="font-italic">
            I write and develop quality web-based backend code in python, i specialize in Flask and Django web Frameworks
          </p>
          <div class="row">
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 1<sup>st</sup> February 2000</li>
                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong> <a href="https://github.com/Gibson-Gichuru">Github Profile</a></li>
                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +254714100166</li>
                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> City : Nyeri, Kenya</li>
              </ul>
            </div>
            <div class="col-lg-6">
              <ul>
                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 21</li>
                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelors</li>
                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong> gichuru.developer@gmail.com</li>
                <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
              </ul>
            </div>
          </div>
          <p>
            write something about myself here
          </p>
        </div>
      </div>

    </div>
  </section>