{% macro project_details(project_img, project_name, project_details, project_category, project_link)%}

<div id="portfolio-details" class="portfolio-details">
    <div class="container">

      <div class="row">

        <div class="col-lg-8">
          <h2 class="portfolio-title">{{ project_name}}</h2>

          <div class="portfolio-details-slider swiper">
            <div class="swiper-wrapper align-items-center">

                {% for img in project_img %}

              <div class="swiper-slide">
                <img src="{{img}}" alt="">
              </div>

              {% endfor %}

            </div>
            <div class="swiper-pagination"></div>
          </div>

        </div>

        <div class="col-lg-4 portfolio-info">
          <h3>Project information</h3>
          <ul>
            <li><strong>Category</strong>: {{ project_category}}</li>
            <li><strong>Project URL</strong>: <a href="{{project_link}}">{{project_name}}</a></li>
          </ul>

          <p>
              {{ project_details}}
          </p>
        </div>

      </div>

    </div>
  </div>


{% endmacro%}