<main id="main">
<!--About Section-->
{% block about %}
    {% include 'main/_about.html'%}
{% endblock about%}

<!--End Of About Section-->

<!--Facts Section-->
{% block facts %}
    {% include 'main/_facts.html'%}
{% endblock facts %}

<!--End Of Facts Section-->


<!--Skills Section-->
{% block skills %}
    {% include 'main/_skills.html'%}
{% endblock%}
<!--End Of Skills Section-->

<!--Resume Section-->
{% block resume %}
    {% include 'main/_resume.html'%}
{% endblock resume %}
<!--End Of Resume Section-->

<!--Portfolio Section-->
{% block portfolio %}
    {% include 'main/_portfolio.html'%}
{% endblock portfolio%}
<!--End of Portfolio Section-->

<!--Contact Section-->
{% block contact %}
    {% include 'main/_contacts.html'%}
{% endblock contact%}
</main>
