<section id="resume" class="resume">

    <div class="container">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Check My Resume</p>
        </div>
  
        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Sumary</h3>
            <div class="resume-item pb-0">
              <h4>Gibson Gichuru</h4>
              <p><em>Innovative and deadline-driven Backend software engineer with 1 year of experience designing and developing highly perfomance and quality webservces.</em></p>
              <p>
              <ul>
                <li>Nyeri Kenya</li>
                <li>+25414100166</li>
                <li>gichuru.developer@gmail.com</li>
              </ul>
              </p>
            </div>
  
            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>Bachelors of Science in &amp; Computer Science</h4>
              <h5>2019 - Today</h5>
              <p><em>Dedan Kimathi University of Technology, kenya, Nyeri</em></p>
              <p>Am Currently in my second year, second semester</p>
            </div>
            <div class="resume-item">
                <h4>Kenya Certificate Of Secondary Education &amp; KCSE</h4>
              <h5>2015 - 2018</h5>
              <p><em>Rongai Agri-Tech Boys High School, Rongai-Nakuru, Kenya</em></p>
              <p>I pursed my Secondary level  education at rongai boys where i attainded a B (plain: 64 points) in my KCSE examination and also acuired hand on skills in 
                farm and workshop experience</p>
            </div>
          </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
                <h4>Internal Attachment</h4>
                <h5>2020 may  - 2020 september</h5>
                <p><em>Dedan Kimathi University Of Technology, Nyeri, Kenya </em></p>
              <p>
              <ul>
                <li></li>
                <li> </li>
                <li></li>
                <li></li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
                <h4>Backend Web-Service Developer</h4>
                <h5>2019 - Uptodate</h5>
                <p><em>Personal Projects </em></p>
              <p>
              <ul>
                <li>Developed numerous Flask Powered Backend Api programs (All hosted in my Github accout)</li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              </p>
            </div>
          </div>
        </div>
  
      </div>

</section>