{% extends 'base.html'%}

{% block tittle%} | Gibson Gichuru{% endblock tittle%}

{% block content %}

    {% block header %}
        {% include '/main/_header.html'%}
    {% endblock header%}

    {% block about %}
        {% include "/main/_about.html"%}
    {% endblock about%}

    {% block resume %}

        {% include "/main/_resume.html"%}

    {% endblock resume %}

    {% block portfolio %}
        {% include "/main/_portfolio.html"%}
    {% endblock %}

    {% block contacts %}

        {% include "/main/_contacts.html"%}
    {% endblock %}
    
{% endblock content%}