<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  
  <title>| {% block title %}Gibson Gichuru{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <link href="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/favicon.png?alt=media&token=526f8288-998b-466d-9dda-3846eb667260" rel="icon">
  <link href="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/apple-touch-icon.png?alt=media&token=93beaf70-f33d-4763-b2bc-559303436375" rel="apple-touch-icon">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!--Bootstap css-->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">


    <link href="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/icofont.min.css?alt=media&token=1b0ef03f-5597-4578-bc2a-34f883614c08" rel="stylesheet">
    <link href="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/boxicons.min.css?alt=media&token=00e915c7-f53f-4db2-a49d-2c5ab5c40520" rel="stylesheet">
    <link href="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/venobox.css?alt=media&token=bb907e91-8b58-42bb-8432-81ddff6c0fe3" rel="stylesheet">
    <link href="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/owl.carousel.min.js?alt=media&token=240235cf-6162-4dec-9bc5-21aa6c14f118" rel="stylesheet">
    <link href="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/aos.css?alt=media&token=37f9bcfd-b52c-4b53-b0bf-7d150c6380a3" rel="stylesheet">
    <!--Custom css-->
        <link href="{{ url_for('static', filename = 'css/style.css')}}" rel="stylesheet">

</head>

<body>
    {% block body %}

    {% endblock %}

    <!--Import js-->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
        <script src="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/jquery.min.js?alt=media&token=eacb4a24-e089-49cd-b555-5c47ea1d81de"></script>
        <script src="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/validate.js?alt=media&token=f60c01a3-950f-47a1-8d7d-5457aee79087"></script>
        <script src="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/jquery.waypoints.min.js?alt=media&token=94d6f60b-fccb-46ca-a261-66a1fff24c13"></script>
        <script src="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/counterup.min.js?alt=media&token=ee01b1f2-f7b7-4118-a3b6-acd3d7994055"></script>
        <script src="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/isotope.pkgd.min.js?alt=media&token=480b14ef-8eee-4655-8afa-e730dc7cfa6b"></script>
        <script src="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/venobox.min.js?alt=media&token=fb1b6d79-12ac-4d98-abd1-f27a2250f6bf"></script>
        <script src="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/owl.carousel.min.js?alt=media&token=bfd29a61-3611-4546-9d3b-7e62ab25f75a"></script>
        <script src="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/typed.min.js?alt=media&token=1a6ddb7a-f15f-4cca-8da9-8c9e2d4c4bd9"></script>
        <script src="https://firebasestorage.googleapis.com/v0/b/portfolio-31bba.appspot.com/o/aos.js?alt=media&token=fd14373e-88d2-4250-9f77-740b58131fad"></script>

    <!-- custom js -->
    <script src="{{ url_for('static', filename = 'js/main.js')}}"></script>

    <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

    
</body>

</html>